body {
  margin: 0px;
  padding: 0px;
  font-family: "Roboto", sans-serif;
}

.container{
  padding: 2em 12em;
  display: flex
}

.header.container{
  background-color: #1f2937;
  color:white; 
  justify-content: space-between;
  align-items: center;
}

.logo{
  font-size: 24px;
  color: #f9faf8;
}

.header_links {
  display: flex;
  gap: 24px; 
}

.hero.container{
  background-color: #1f2937;
  justify-content: space-between;
  align-items: center;
}
.left {
  display: flex; 
  flex-direction: column; 
  color: white
}

img {
  max-width: 425px;
  min-width: 125px;
  height: auto;
}

.sign_up {
  max-width: 150px; 
  height: 50px; 
  background-color: #3882f6;
  color: white;  
  border-radius: 15px; 
  outline: none
}

h2 {
  font-size: 48px; 
  max-width: 400px; 
  margin: 0em; 
}

p {
  font-size: 18px;
  max-width: 400px; 
  color: #e5e7eb; 
}

.section-title {
  margin-top: 24px;
  margin-bottom: 0px;
  font-size: 36px;
  font-weight: 900;
  text-align: center;
  color:#1f2937;
}

.data.container{
  display: flex;
  justify-content: center;
  margin-bottom: 72px;
}

.text{
  font-size: 12px;
  max-width: 150px;
  font-weight: 100;
  text-align: center;
}

.images{
  display:flex;
  gap: 48px;
  justify-content: space-between;
  align-items: center;
}

.image{
  height: 150px;
  width: 150px;
  border-radius: 15px;
  border: 2px solid #3882f6
}

.quote.container{
  background-color: #e5e7eb;
  display: flex; 
  flex-direction: column;
  align-items: center;
  padding-top: 75px;
  padding-bottom: 75px;  
}

.quote-container{
  display: flex;
  flex-direction: column;
  width: 75%;
}

.inspiration{
  font-size: 36px;
  font-weight: 300;
  font-style: italic;
  color:#1f2937;
  margin: 0 0 16px;
}

.name{
 align-self: flex-end;
 margin-right: 48px;
 font-weight: 700;
}
