body {
  margin: 0px;
  padding: 0px;
}

.header {
  background-color: #1f2937;
  color:white; 
  padding: 48px; 
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header_links {
  display: flex;
  gap: 12px; 
}


